.movies-list {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 70px 80px;
  box-sizing: border-box;
}

.movies-list__grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px 24px;
  justify-items: center;
  width: 100%;
  margin: 0 auto 80px;
}

.movies-list__button {
  border: none;
  padding: 11px 0 9px;
  background-color: #f4f4f4;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  width: 100%;
  transition: 0.25s;
}

.movies-list__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .movies-list {
    padding: 80px 30px;
  }

  .movies-list__grid-container {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    gap: 36px 30px;
  }
}

@media screen and (max-width: 500px) {
  .movies-list {
    padding: 50px 10px 80px;
  }

  .movies-list__grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
  }
}
