.movie {
  display: block;
  width: 364px;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.movie_hidden {
  display: none;
}

.movie__info-container {
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie__title {
  margin: 0 0 9px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  max-width: 260px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie__duration {
  font-size: 11px;
  line-height: 1.12;
  color: #a0a0a0;
  margin: 0;
}

.movie__button {
  border: none;
  border-radius: 36px;
  width: 30px;
  height: 30px;
  background: url('../../images/save-icon_inactive.svg') no-repeat center;
  background-color: #f4f4f4;
  transition: opacity 0.25s;
}

.movie__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.movie__button_saved {
  background-image: url('../../images/save-icon_active.svg');
  background-color: #3456f3;
}

.movie__button_delete {
  background-image: url('../../images/close-icon.svg');
  background-size: 12px 12px;
}

.movie__image {
  width: 100%;
  height: 203px;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: 0.2s;
}

.movie__image:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .movie {
    width: 339px;
  }

  .movie__image {
    height: 190px;
  }
}

@media screen and (max-width: 500px) {
  .movie {
    width: 300px;
  }

  .movie__title {
    max-width: 240px;
  }

  .movie__image {
    height: 168px;
  }
}
