.promo {
  background-color: #dddee3;
}

.promo__container {
  display: flex;
  justify-content: space-between;
  padding: 75px 70px;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.promo__info-container {
  display: flex;
  flex-direction: column;
}

.promo__heading {
  font-weight: normal;
  font-size: 50px;
  line-height: 1.16;
  max-width: 640px;
  margin: 0 0 36px;
}

.promo__text {
  font-size: 13px;
  line-height: 1.15;
  opacity: 0.5;
  max-width: 310px;
  margin: 0;
  mix-blend-mode: normal;
}

.promo__image {
  width: 310px;
  height: 304px;
}

.promo__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
  text-decoration: none;
  background-color: inherit;
  margin: 146px 0 0;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  width: 129px;
  height: 36px;
  transition: opacity 0.35s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 860px) {
  .promo__container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 140px 50px 77px;
  }

  .promo__info-container {
    align-items: center;
  }

  .promo__heading {
    margin: 48px 0 22px;
    text-align: center;
    font-size: 40px;
    line-height: 1.2;
  }

  .promo__text {
    text-align: center;
  }

  .promo__button {
    margin-top: 92px;
  }
}

@media screen and (max-width: 500px) {
  .promo__container {
    padding: 70px 10px 30px;
  }

  .promo__heading {
    margin: 44px 0 24px;
    font-size: 30px;
    line-height: 1.27;
    max-width: 300px;
    letter-spacing: -0.04em;
  }

  .promo__text {
    max-width: 260px;
  }

  .promo__image {
    width: 210px;
    height: 206px;
  }

  .promo__button {
    margin-top: 80px;
  }
}
