.auth-page {
  max-width: 396px;
  margin: 0 auto;
  padding-top: 70px;
}

.auth-page__form {
  width: 100%;
}

.auth-page__logo-link {
  transition: opacity 0.25s;
  width: 38px;
  height: 38px;
}

.auth-page__logo-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.auth-page__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin: 40px 0;
}

.auth-page__label {
  display: block;
  margin: 20px 0 10px;
  font-size: 10px;
  line-height: 1.2;
  color: #a0a0a0;
}

.auth-page__input {
  border: none;
  border-radius: 8px;
  background-color: #f4f4f4;
  width: 100%;
  font-size: 13px;
  line-height: 1.25;
  padding: 15px 15px;
  box-sizing: border-box;
  transition: background-color 0.25s;
}

.auth-page__input::placeholder {
  color: #a0a0a0;
}

.auth-page__input:hover {
  background-color: #f0f0f0;
}

.auth-page__input:focus {
  background-color: #f0f0f0;
  outline: none;
}

.auth-page__input_type_error {
  color: #ee3465;
}

.auth-page__span-input-error {
  font-size: 10px;
  line-height: 1.2;
  color: #ee3465;
}

.auth-page__button {
  margin: 91px 0 16px;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.12;
  color: #ffffff;
  padding: 13px 0 15px;
  background-color: #3456f3;
  border-radius: 3px;
  transition: opacity 0.25s;
}

.auth-page__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.auth-page__button_login {
  margin-top: 179px;
}

.auth-page__text {
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #a0a0a0;
  margin: 0;
}

.auth-page__link {
  color: #3456f3;
  text-decoration: none;
  transition: opacity 0.25s;
}

.auth-page__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 830px) {
  .auth-page {
    padding: 232px 0;
  }

  .auth-page__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .auth-page__button {
    margin-top: 91px;
  }

  .auth-page__button_login {
    margin-top: 179px;
  }
}

@media screen and (max-width: 500px) {
  .auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 30px 30px;
  }

  .auth-page__title {
    margin: 50px 0 80px;
    text-align: center;
  }

  .auth-page__button {
    margin-top: 179px;
  }

  .auth-page__button_login {
    margin-top: 267px;
  }
}
