.header {
  background-color: #fafafa;
  display: none;
}

.header_enabled {
  display: block;
}

.header_page-main {
  background-color: #dddee3;
}

.header__container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 70px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header__logo-link {
  width: 38px;
  height: 38px;
  margin-right: 44px;
  transition: opacity 0.35s;
}

.header__logo-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header__button-container {
  display: flex;
  align-items: center;
}

.header__register-button {
  margin-right: 30px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  transition: opacity 0.35s;
}

.header__register-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__login-button {
  background-color: #3456f3;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: white;
  padding: 8px 20px;
  border-radius: 3px;
  transition: opacity 0.35s;
}

.header__login-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header__burger-button {
  width: 44px;
  height: 44px;
  padding: 0;
  background: url('../../images/burger-menu-icon.svg') no-repeat center;
  background-size: 44px 44px;
  border: none;
  border-radius: 5px;
  display: none;
  transition: background-color 0.2s;
}

.header__burger-button:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

@media screen and (max-width: 830px) {
  .header__container {
    padding: 18px 30px;
  }

  .header__burger-button {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .header__container {
    padding: 18px 14px;
  }

  .header__register-button {
    margin-right: 14px;
    font-size: 10px;
    line-height: 1.3;
  }

  .header__login-button {
    font-size: 10px;
    line-height: 1.3;
    padding: 5px 12px;
  }

  .header__burger-button {
    background-size: 40px 43px;
  }
}
